.recipe-card {
  width: 260px;
  height: 180px;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.recipe-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.recipe-info {
  line-height: 1;
  margin-top: 3px;
  right: 117px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 40px;
  border-bottom: 1px solid #f4f4f4;
}

.icons-recipe {
  line-height: 1;
  right: 117px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 260px;
  height: 40px;
  margin-top: 3px;
}

.btn-start {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.recipe-title {
  font-size: 15px;
  color: #22b573;
}

/* .desc {
  font-size: 8pt;
  overflow: hidden;
  width: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.time {
  display: flex;
  top: 67px;
} */

.recipe-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgrec {
  width: 290px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.star {
  margin: 0;
}

/* .minute {
  padding-left: 5px;
  padding-top: 1.5px;
} */
