.recipe-card {
  width: 330px;
  height: 123px;
  background-color: rgb(245, 245, 245);
  position: relative;
  left: 30px;
  border-radius: 15px;
}

.recipe-info {
}

.description {
}

.info {
}

.btn-start {
}
