.recipe-fav-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.recipe-fav-img {
  width: 260px;
  height: 180px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.recipe-fav-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-info-fav {
  line-height: 1;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 285px;
  height: 60px;
  border-bottom: 1px solid #dfdddd;
}

.recipe-title-fav {
  font-size: 16px;
  color: #116530;
}

.btn-start-fav {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icons-recipe-fav {
  line-height: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 260px;
  height: 40px;
  font-size: 13px;
}

.time-min-fav {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.minute-fav {
  padding-left: 4px;
  padding-top: 5px;
  color: #969d9c;
}

.cook-difficulty-fav {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.dif-fav {
  padding-left: 4px;
  padding-top: 5px;
  color: #969d9c;
}

.imgrec-fav {
  width: 290px;
  height: 180px;
  border-radius: 10px;
}

.title-fav {
  margin-top: 20px;
  font-size: 44px;
  position: sticky;
  padding: 0 45px;
  color: #116530;
  font-weight: bolder;
  margin-bottom: 28px;
}
.title-and-remove {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.reset {
  cursor: pointer;
  color: #ffca40;
  display: flex;
  align-items: center;
  margin-right: 72px;
}

.second-title-fav {
  padding: 0 65px;
  font-size: 15px;
  line-height: 2;
  display: flex;
  justify-content: center;
  color: #969d9c;
  margin-top: 116px;
}

.fav-page {
  padding: 0 55px;
}

.items {
  overflow: scroll;
  height: 718px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 0 65px;
}

@media (max-width: 48em) {
  .title-fav {
    font-size: 30px;
    z-index: -1;
  }
  .second-title-fav {
    padding: 0;
  }
  .items {
    height: 598px;
    padding: 0 55px;
  }
  .reset {
    padding: 0;
  }
  .items {
    height: 530px;
  }
  .title-and-remove {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .fav-page {
    padding: 0;
  }
}
