.recipes-dsgn {
  overflow: scroll;
  height: 510px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 58vh;
  justify-content: space-evenly;
}

.recipes-wrapper {
  padding: 120px 91px;
}

.all-rec div:focus {
  color: #ffca40;
  outline: none;
}

.switches {
  display: flex;
  flex-direction: row;
}

.switch2 {
  padding-left: 5px;
  margin-top: 14px;
}

.switch1 {
  margin-top: 14px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.search {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-left: 6px;
}

.search-wrapper {
  width: 460px;
  border-radius: 10px;
  background: transparent;
  height: 38px;
  border: 1px solid #969d9c;
}

.search-wrapper input {
  width: 250px;
  height: 14px;
  padding: 10px 5px;
  float: left;
  border: 0;
  border-radius: 40px;
  border-top-style: none;
  background-color: #fefbf3;
}

.search-wrapper input:focus {
  outline: 0;
  background-color: #fefbf3;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  border-style: none;
}

.collection-sort {
  border-color: white;
}

.row-search-switch {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  justify-content: space-between;
  margin: 0 40px;
  margin-top: 25px;
  padding-left: 23px;
  padding-right: 10px;
}

.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 50px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.search-wrapper button:active,
.search-wrapper button:focus {
  outline: 0;
}

.search-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-left: 6px;
}

.weknow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 65px;
  padding-left: 44px;
  color: #116530;
  font-size: 20px;
  font-weight: bolder;
}

.text {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 0 65px;
  justify-content: space-between;
}

.change-color {
  display: flex;
  line-height: 1.4;
  color: #116530;
  font-weight: bolder;
  font-size: 44px;
}

.workhorse {
  line-height: 1.2;
  display: flex;
  margin-right: 300px;
  width: 298px;
}

.pop-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 60px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 18px;
  color: #969d9c;
  font-size: 12pt;
  font-weight: bold;
}

.pop-margin {
  margin-right: 15px;
}

.pop-all div:hover {
  color: #ffca40;
  transition: color 0.3s ease-in-out;
}
.pop-all div.active {
  color: #ffca40;
}

@media (max-width: 48em) {
  .text {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 18px;
    width: 400px;
  }

  .change-color {
    font-size: 30px;
  }

  .recipes-wrapper {
    padding: 120px 54px;
  }

  .row-search-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 6px 0;
  }

  .selectaler {
    width: 120px;
  }
  .workhorse {
    line-height: 1.2;
    display: flex;
    width: 322px;
    line-height: 1.3;
  }

  .pop-all {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 18px;
    color: #969d9c;
    font-size: 12pt;
    font-weight: 700;
  }
  .recipes-dsgn {
    overflow: scroll;
    height: 498px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 52vh;
    justify-content: space-evenly;
  }
}
