.tips-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: scroll;
  height: 100vh;
  margin-top: 120px;
}

.title-page {
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 1.5;
  font-size: 44px;
  font-weight: bolder;
  color: #116530;
}

.title-tips {
  font-size: 21px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.p2 {
  margin-left: 60px;
  padding-bottom: 140px;
}

.img-salad {
  display: flex;
  padding-top: 17px;
  width: 400px;
  border-radius: 45px;
}

.img-cheers {
  display: flex;
  padding-top: 20px;
  width: 400px;
  border-radius: 45px;
}

.img-table {
  display: flex;
  padding-top: 20px;
  width: 400px;
  border-radius: 45px;
}

.p {
  display: flex;
  flex-direction: column;
  padding-bottom: 140px;
}

.text-left {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 13px;
}

.images-tips {
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

ul {
  list-style: none;
}

ul .li-tips::before {
  content: "\2022";
  color: #116530;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  line-height: 1.5;
}

@media (max-width: 48em) {
  .p {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0 20px;
    font-size: 15px;
  }

  .p2 {
    margin-left: -25px;
  }

  .tips-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    overflow: scroll;
  }

  .img-salad {
    padding: 0 5px;
    width: 120px;
  }
  .img-cheers {
    padding: 0 5px;
    width: 100px;
  }
  .img-table {
    padding: 0 5px;
    width: 120px;
  }

  .paragraph {
    font-size: 14px;
  }

  .title-page {
    display: flex;
    flex-direction: row;
    font-size: 30px;

    padding: 0 20px;
  }
  .title-tips {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 0 20px;
  }
  .text-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: large;
    padding-bottom: 10px;
  }
  .images-tips {
    border-radius: 25px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
  .titles-acor {
    font-size: 13px;
  }
}
