.community-page {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  overflow: scroll;
  height: 100vh;
  margin-top: 60px;
  padding: 120px 40px;
}

.maintitle {
  padding: 0 65px;
}

.firsttitle {
  color: #116530;
  font-size: 35pt;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.sectitle {
  font-size: 15pt;
  font-family: "Poppins", sans-serif;
  color: #116530;
  font-weight: bold;
  margin-top: 15px;
}

.form-wrapper {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.form-inpt {
  display: flex;
  flex-direction: column;
}

.container-img {
  width: 340px;
  height: 303px;
  border-radius: 10px;
  border: 2px #1f6e3c solid;
  background-color: white;
}

.container-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  flex-direction: column;
}

.container-title {
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  color: #116530;
}

.upload-img {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 15px;
}

.upload-img input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.search-bar {
  margin-top: 25px;
}

.units {
  display: flex;
  margin-top: 30px;
  margin-left: 210px;
}

.min {
  border-radius: 15px;
  border: none;
  background-color: #ffca40;
  cursor: pointer;
}

.pls {
  border-radius: 15px;
  border: none;
  background-color: #ffca40;
  cursor: pointer;
}

.inst-container {
  width: 1200px;
  height: 303px;
  border-radius: 10px;
  border: 2px #1f6e3c solid;
  background-color: white;
  margin-top: 40px;
}

.reci-name {
  width: 415px;
  height: 47px;
  border-radius: 10px;
  border: 2px #1f6e3c solid;
  background-color: white;
  margin-left: -550px;
}

.desc-container {
  width: 415px;
  height: 213px;
  border-radius: 10px;
  border: 2px #1f6e3c solid;
  background-color: white;
  margin-left: -550px;
  margin-top: 35px;
}

.search-aller {
}
