.bookmark-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main-title-fav {
  color: #22b573;
  font-size: 22pt;

  font-weight: bold;
  display: flex;
}

.user-favorites {
  display: flex;
}
