.imgdet {
  border-radius: 10px;
  height: 370px;
  width: 370px;
  display: flex;
}

.rat-tim {
  display: flex;
  flex-direction: row;
  line-height: 3;
}

/* .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: 650px;
  padding: 20px;
  width: 800px;
} */

.recipe-details-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding: 0 20px;
  height: 750px;
  width: 1000px;
}

.img-side {
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  height: 80px;
}

.res-rat {
  padding-right: 15px;
  padding-left: 5px;
}

.res-min {
  padding-left: 5px;
}

.rat-min {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  line-height: 3;
}

.titledet {
  line-height: 3;
  margin-top: -150px;
}

.ingre {
  line-height: 2.5;
}

.res-des {
  display: flex;
}

.ingre {
  display: flex;
  width: 198px;
}
