.imgdet {
  border-radius: 10px;
  height: 400px;
  width: 400px;
  display: flex;
}

.rat-tim {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: 650px;
  padding: 20px;
  width: 800px;
}

.img-side {
  display: flex;
  flex-direction: column;
  flex: 0.25;
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  height: 80px;
}

.res-rat {
  padding-left: 5px;
}

.res-min {
  padding-left: 5px;
}

.rat-min {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  line-height: 3;
}

.titledet {
  line-height: 3;
}

.ingre {
  line-height: 2.5;
}

.res-des {
  display: flex;
  width: 198px;
}

.ingre {
  display: flex;
  width: 198px;
}
