.imgdet {
  border-radius: 10px;
  height: 370px;
  width: 370px;
  display: flex;
  flex-direction: column;
}

.rat-tim {
  display: flex;
  flex-direction: row;
  line-height: 3;
}

.recipe-details-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 1000px;
}

.img-side {
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  height: calc(100vh - 112px);
  overflow: scroll;
}

.res-rat {
  padding-right: 15px;
  padding-left: 5px;
}

.res-min {
  padding-left: 5px;
}

.rat-min {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  line-height: 3;
}

.titledet {
  line-height: 3;
}

.ingre {
  line-height: 2.5;
}

.res-des {
  display: flex;
}

.ingre {
  display: flex;
  width: 198px;
}

@media (max-width: 48em) {
  .img-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
  }
  .imgdet {
    border-radius: 10px;
    height: 220px;
    width: 220px;
    display: flex;
    margin-bottom: 110px;
  }
}
