.tips-page {
  display: flex;
  line-height: 3;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  overflow: scroll;
  height: calc(100vh - 112px);
  padding-top: 20px;
}

.title-page {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  line-height: 3;
}

.title-tips {
  font-size: 28px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 2;
}

.img-hala {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.img-salad {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.p {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  line-height: 2.2;
}
