.titles {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  left: 30px;
  bottom: 100px;
}

.main-title {
  color: #22b573;
  font-size: 22pt;
  padding-bottom: 2px;
  font-weight: bold;
}

.second-title {
  color: #22b573;
  font-size: 14pt;
}

.greentext {
  position: relative;
  left: 30px;
  bottom: 80px;
}

.popular {
  position: relative;
  color: #22b573;
  font-size: 14pt;
  left: 30px;
  bottom: 30px;
  font-weight: bold;
}
