.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 850px;
}

.sing-In {
  color: #22b573;
  font-size: 22pt;
  padding-bottom: 2px;
  font-weight: bold;
  display: flex;
  bottom: 310px;
  text-align: center;
}

.login-email:before,
.login-email:after {
  content: "";
  display: table;
}

.login-email:after {
  clear: both;
}

.login-email {
  zoom: 1;
}

.login-email {
  display: flex;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #22b573;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.login-email input {
  width: 240px;
  display: flex;
  height: 14px;
  padding: 10px 5px;
  float: left;
  border: 0;
  border-radius: 40px;
  border-top-style: none;
}

.login-email input:focus {
  outline: 0;
  background: #fff;
}

.login-email input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  padding-left: 20px;
}

.login-email input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.login-email input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  border-style: none;
}

.login-email button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 50px;
  color: #fff;
  text-transform: uppercase;
  background: #22b573;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  align-items: center;
}

.login-email button:active,
.login-email button:focus {
  background: #22b573;
  outline: 0;
}

.login-email button:focus:before,
.login-email button:active:before {
  border-right-color: #22b573;
}

.login-email button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.iconMan {
  width: 30px;
  display: flex;
  height: 20px;
}

.container {
  display: flex;
  align-items: center;

  justify-content: center;
}

.container img {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
}

.container .btn {
  display: flex;
  background-color: #22b573;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: 2px;
  border-radius: 40px;

  align-items: center;
}

.container .btn:hover {
  background-color: white;
  color: #22b573;
}

.pwd-container :before,
.pwd-container:after {
  content: "";
  display: table;
}

.pwd-container:after {
  clear: both;
}

.pwd-container {
  zoom: 1;
}

.pwd-container {
  display: flex;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #22b573;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
}

.pwd-container input {
  width: 240px;
  display: flex;

  height: 14px;
  padding: 10px 5px;
  float: left;
  border: 0;
  border-radius: 40px;
  border-top-style: none;
}

.pwd-container input:focus {
  outline: 0;
  background: #fff;
}

.pwd-container input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  padding-left: 20px;
}

.pwd-container input:-moz-placeholder {
  color: #999;
  display: flex;

  font-weight: normal;
  font-style: italic;
}

.img-pass {
  width: 30px;
  display: flex;

  height: 30px;
  left: 50px;
  top: 2px;
}

.arrow-svg {
  display: flex;
  margin-left: 330px;
}
