/* .profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 850px;
}

.sing-In {
  color: #22b573;
  font-size: 22pt;
  padding-bottom: 2px;
  font-weight: bold;
  display: flex;
  bottom: 310px;
  text-align: center;
}

.login-email:before,
.login-email:after {
  content: "";
  display: table;
}

.login-email:after {
  clear: both;
}

.login-email {
  zoom: 1;
}

.login-email {
  display: flex;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #22b573;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.login-email input {
  width: 240px;
  display: flex;
  height: 14px;
  padding: 10px 5px;
  float: left;
  border: 0;
  border-radius: 40px;
  border-top-style: none;
}

.login-email input:focus {
  outline: 0;
  background: #fff;
}

.login-email input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  padding-left: 20px;
}

.login-email input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.login-email input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  border-style: none;
}

.login-email button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 50px;
  color: #fff;
  text-transform: uppercase;
  background: #22b573;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  align-items: center;
}

.login-email button:active,
.login-email button:focus {
  background: #22b573;
  outline: 0;
}

.login-email button:focus:before,
.login-email button:active:before {
  border-right-color: #22b573;
}

.login-email button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.iconMan {
  width: 30px;
  display: flex;
  height: 20px;
}

.container {
  display: flex;
  align-items: center;

  justify-content: center;
}

.container img {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
}

.container .btn {
  display: flex;
  background-color: #22b573;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: 2px;
  border-radius: 40px;

  align-items: center;
}

.container .btn:hover {
  background-color: white;
  color: #22b573;
}

.pwd-container :before,
.pwd-container:after {
  content: "";
  display: table;
}

.pwd-container:after {
  clear: both;
}

.pwd-container {
  zoom: 1;
}

.pwd-container {
  display: flex;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #22b573;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
}

.pwd-container input {
  width: 240px;
  display: flex;

  height: 14px;
  padding: 10px 5px;
  float: left;
  border: 0;
  border-radius: 40px;
  border-top-style: none;
}

.pwd-container input:focus {
  outline: 0;
  background: #fff;
}

.pwd-container input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  padding-left: 20px;
}

.pwd-container input:-moz-placeholder {
  color: #999;
  display: flex;

  font-weight: normal;
  font-style: italic;
}

.img-pass {
  width: 30px;
  display: flex;
  height: 30px;
  left: 50px;
  top: 2px;
}

.arrow-svg {
  display: flex;
  margin-left: 330px;
} */

.accountPage {
  padding: 24px 16px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
  background-color: #fff;
  width: 100%;
  max-width: 328px;
  margin: 241px auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.accountPage__title {
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  margin: 0;
  display: flex;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.paragraph {
  letter-spacing: 0;
  margin: 16px 0 0;
  padding-bottom: 17px;
  text-align: initial;
  display: flex;
}

.login-with-google-btn {
  display: flex;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

/* &:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
} */
